@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');
body{
    padding: 0.5rem;
    margin-top: 4rem;
    background: rgb(49,164,198);
    background: linear-gradient(90deg, rgba(49,164,198,1) 1%, rgba(9,9,121,1) 26%, rgba(22,148,173,1) 77%);
}
h1{
    text-align: center;
    font-size: 3rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
p{
    padding: 2rem;
    text-align: center;
    font-size: 1.5rem;
}
label{
    font-size: 2rem;
}
.content{
    text-align: center;
    font-size: 1rem;
    margin: auto;
    display: block;
    padding: top;
}
.status{
    padding: 2rem;
}

.container{
    height: 30rem;
    width: 38rem;
    padding: 1rem;
    border-radius: 2rem;
    display: block;
    margin: auto;
    background: linear-gradient(to left, #00ffff,#5f9ea0,#00bfff);
    
}